# Homework 1

In [14]:
import pandas as pd
import numpy as np

### Q1. Pandas version
What's the version of Pandas that you installed?

In [2]:
pd.__version__

'2.0.3'

In [4]:
url = 'https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv'
df = pd.read_csv(url)

# Para guardar localmente
df.to_csv('laptops.csv', index=False)

print("Archivo descargado y guardado en un DataFrame")

Archivo descargado y guardado en un DataFrame

### Q2. Records count
How many records are in the dataset?

In [5]:
df

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01
...,...,...,...,...,...,...,...,...,...,...,...,...
2155,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,16,1000,SSD,RTX 3060,17.3,No,2699.99
2156,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,16,1000,SSD,RTX 3070,17.3,No,2899.99
2157,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,32,1000,SSD,RTX 3080,17.3,No,3399.99
2158,Razer Book 13 Intel Evo Core i7-1165G7/16GB/1T...,Refurbished,Razer,Book,Intel Evo Core i7,16,1000,SSD,NaN,13.4,Yes,1899.99
2159,Razer Book FHD+ Intel Evo Core i7-1165G7/16GB/...,Refurbished,Razer,Book,Intel Evo Core i7,16,256,SSD,NaN,13.4,Yes,1699.99

### Q3. Laptop brands
How many laptop brands are presented in the dataset?

In [6]:
# Contar el número de marcas únicas
unique_brands = df['Brand'].nunique()
print(f"El número de marcas de laptops es: {unique_brands}")

El número de marcas de laptops es: 27

### Missing values
How many columns in the dataset have missing values?

In [7]:
# Contar el número de columnas con valores faltantes
missing_values_columns = df.isnull().sum()[df.isnull().sum() > 0].shape[0]
print(f"El número de columnas con valores faltantes es: {missing_values_columns}")

El número de columnas con valores faltantes es: 3

### Q5. Maximum final price
What's the maximum final price of Dell notebooks in the dataset?

In [11]:
# Filtrar el dataset por notebooks Dell y encontrar el precio final máximo
max_dell_price = df[df['Brand'] == 'Dell']['Final Price'].max()
print(f"El precio máximo de los notebooks Dell es: {max_dell_price} euros")

El precio máximo de los notebooks Dell es: 3936.0 euros

### Q6. Median value of Screen
Find the median value of Screen column in the dataset.
Next, calculate the most frequent value of the same Screen column.
Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.
Now, calculate the median value of Screen once again.

In [12]:
# 1. Calcular la mediana original de la columna 'Screen'
median_screen_before = df['Screen'].median()

# 2. Calcular el valor más frecuente de la columna 'Screen'
most_frequent_screen = df['Screen'].mode()[0]

# 3. Usar fillna para rellenar valores faltantes con el valor más frecuente
df['Screen'].fillna(most_frequent_screen, inplace=True)

# 4. Calcular la nueva mediana de la columna 'Screen'
median_screen_after = df['Screen'].median()

# Imprimir los resultados
print(f"Mediana original de 'Screen': {median_screen_before}")
print(f"Valor más frecuente de 'Screen': {most_frequent_screen}")
print(f"Mediana después de rellenar valores faltantes: {median_screen_after}")

Mediana original de 'Screen': 15.6
Valor más frecuente de 'Screen': 15.6
Mediana después de rellenar valores faltantes: 15.6

### Q7. Sum of weights
Select all the "Innjoo" laptops from the dataset.
Select only columns RAM, Storage, Screen.
Get the underlying NumPy array. Let's call it X.
Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
Compute the inverse of XTX.
Create an array y with values [1100, 1300, 800, 900, 1000, 1100].
Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
What's the sum of all the elements of the result?

In [15]:
# 1. Seleccionar las laptops de la marca "Innjoo"
innjoo_laptops = df[df['Brand'] == 'Innjoo']

# 2. Seleccionar solo las columnas RAM, Storage, Screen
X = innjoo_laptops[['RAM', 'Storage', 'Screen']].to_numpy()

# 3. Realizar la multiplicación matricial entre la transpuesta de X y X
XTX = X.T @ X

# 4. Calcular la inversa de XTX
XTX_inv = np.linalg.inv(XTX)

# 5. Crear un array y con los valores dados
y = np.array([1100, 1300, 800, 900, 1000, 1100])

# 6. Multiplicar la inversa de XTX por la transpuesta de X, y luego multiplicar por y
w = XTX_inv @ X.T @ y

# 7. Calcular la suma de todos los elementos de w
sum_w = np.sum(w)

# Imprimir el resultado
print(f"La suma de los elementos de w es: {sum_w}")

La suma de los elementos de w es: 91.2998806299555